h6.logo {
  font-size: 2rem;
  background: -webkit-linear-gradient(0deg, #89CDA5 34.6%, #07B2D9 65.07%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.f-subtitle {
  font-family: $subtitles-font;
}

.white-text {
  color: white !important
}
